body {
	padding-top: 130px;
}
.nav-bar{
  background: #20AED5;
	padding: 20px;
}
.navbar-header .navbar-text{
	color: white;
}
.navbar-brand img{
	width: 30px;
	/*margin-left: 20px;*/
}
.navbar-btn{
	border-radius: 30px;
	background-color: transparent;
	border: 1px solid white;
	color: white;
	margin:15px;
}
.navbar-btn:hover{
	color: #20AED5;
	background-color: white;
}
.color-text-blue{
	color: #20AED5;
}
.margitn-top{
	margin-top: 30px;
}
.btn-publicar{
	border-radius: 20px;
	background-color: #F4B90F;
	border: 1px solid #F4B90F;
	color: white;
}
.btn-publicar:hover{
	background-color: transparent;
	color: #F4B90F;
}
.jumbotron{
	background:#FFF8E3;
	color: gray;
}
.jumbotron button{
	background-color: #F3B029;
	border-radius: 30px;
	color: white;
}
.jumbotron button:hover{
	background: #F2770C;
	color: white;
}
